<h2>Welcome <%= @first_name %></h2><br>

<% if @booked_space != nil %>
  <h3> You have booked <%= @booked_space %>! </h3>
<% end %>

<% @spaces.each do |space| %>
  <%= "#{space.name} - #{space.space_description} - £#{'%.2f' % space.price} p/n" %>
  <form action="/book" method="post">
    <input type="hidden" name="space" value="<%= space.name %>">
    <input type="submit" value="Book <%= space.name %>">
  </form><br>
<% end %>
